{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="page-body">
    <form>
        <!-- Container-fluid starts-->
        <div class="container-fluid">
            <div class="card p-3 py-2">
                <div class="row">
                    <div class="col-md-6">
                        <h5 class="mb-0 mt-2">Payment In</h5>
                    </div>
                    <div class="col-md-6">
                        <a href="{% url 'add_payment_in' %} " class="btn btn-primary rs-text-right">Add</a>
                    </div>
                </div>
            </div>
            <div class="card rs-mt-10 rs-br-0">
                <div class="card-body p-4 rs-p-0">
                    <div class="">
                        <table class="table rs_table">
                            <thead>
                                <tr>
                                    <th class="rs-w-5"><span class="hidden-xs">Sl No.</span></th>

                                    <th>Date</th>
                                    <th>Financial Year</th>
                                    <th>Party Name</th>
                                    <th>Party Balance</th>
                                    <th>Opening Balance</th>
                                    <th>Recieved</th>
                                    <th>Balance Due</th>
                                    <th>Payment Type</th>
                                    <th>Bank Account</th>
                                    <th>Description</th> 
                                    <th class="rs-text-right" colspan="2">Action</th>

                                </tr>
                            </thead>
                            <tbody>

                                {% for i in pi %}

                                <tr>
                                    <td class="rs-pr-0">
                                        <span class="badge rounded-pill badge-primary visible-xs">{{ forloop.counter
                                            }}</span>
                                        <span class="hidden-xs">{{ forloop.counter }}</span>
                                    </td>
                                    <td>{{ i.date }}</td>
                                    <td>{{ i.year }}</td>
                                    <td>{{ i.party_name }}</td>
                                    <td>{{ i.party_balance }}</td>
                                    <td>{{ i.opening_balance }}</td>
                                    <td>{{ i.recieved}}</td>
                                    <td>{{ i.balance_due }}</td>
                                    <td>{{ i.payment_type }}</td>
                                    <td>{{ i.bank_account }}</td>
                                    <td>{{ i.description }}</td>

                                    <td class="rs-text-right"><a href="{% url 'edit_payment_in' i.id %}"
                                            class="btn btn-outline-primary">Edit</a>

                                        {% comment %} <a href="{% url 'delete_purchase' i.id %}"
                                            class="btn btn-outline-danger">delete</a> {% endcomment %}



                                        <a type="button" class="btn btn-outline-danger" data-toggle="modal"
                                            data-target="#exampleModal-{{forloop.counter}}">
                                            Delete
                                    </a>
                                    
                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModal-{{forloop.counter}}" tabindex="-1" role="dialog"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <h6>Press Confirm to delete {{ i.name }}</h6>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-outline-warning"
                                                            data-dismiss="modal">Close</button>
                                                        <a type="button"
                                                            href="{% url 'delete_payment_in' i.id %}"
                                                            class="btn btn-outline-danger">Confirm</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>

                                </tr>

                                {% endfor %}




                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Container-fluid Ends-->
    </form>
</div>

{% endblock content %}

{% block script %}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>


{% endblock script %}