{% extends 'base.html' %}
{% load static %}
{% block content %}  

<div class="page-body">
<form>
   <!-- Container-fluid starts-->
   <div class="container-fluid">
        <div class="card p-3 py-2">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="mb-0 mt-2">Purchase Report</h5>
                </div>
                <div class="col-md-6">
                    <a href="{% url 'new_csv1' %} " class="btn btn-primary rs-text-right">Export CSV</a>
                </div>
                <hr/>
                    From: <input type="date" id="date" name="fromdate"/>
                    To: <input type="date" id="date" name="todate"/>
                    <input type="submit" value="Search"/>
                <hr/>
            </div>
        </div>
        <div class="card rs-mt-10 rs-br-0">
            <div class="card-body p-4 rs-p-0">
                <div class="">
                    <table class="table rs_table">
                        <thead>
                                <th class="rs-w-5"><span  class="hidden-xs">Sl No.</span></th>
                                <th>Date</th>
                                <th>Purchase Bill No</th>
                                <th>Bill Type</th>
                                <th>Party Name</th>
                                <th>Payment Status</th>
                                <th>Total Amount</th>
                                <th>Recieved Amount</th>
                                <th>Balance</th>
                                
                                
                        </thead>
                        <tbody>
                            {% for i in pur %}
                            
                            
                            <tr>
                                <td class="rs-pr-0">
                                    <span class="badge rounded-pill badge-primary visible-xs">{{ forloop.counter }}</span>
                                    <span class="hidden-xs">{{ forloop.counter }}</span>
                                </td>
                                <td>{{ i.date }}</td>
                                <td>{{ i.invoice_no }}</td>
                                <td>{{ i.purchase_bill_type }}</td>
                                <td>{{ i.party_name }}</td>
                                <td>{{ i.payment_status }}</td>
                                <td>{{ i.total_amount }}</td>
                                <td>{{ i.recieved_amount }}</td>
                                <td>{{ i.balance }}</td>
                                
                                
                                

                                    
                                    
                                    

                                    
                            </tr>

                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
   <!-- Container-fluid Ends-->
   </form>
</div>

{% endblock content %}

{% block script %}

<script>
    $(function(){
    var dtToday = new Date();
    
    var month = dtToday.getMonth() + 1;
    
    var day = dtToday.getDate();
    var year = dtToday.getFullYear();
    if(month < 10)
        month = '0' + month.toString();
    if(day < 10)
        day = '0' + day.toString();
    
    var maxDate = year + '-' + month + '-' + day;
    $('#date').attr('max', maxDate);
});
</script>

{% endblock script %}