{% extends 'base.html' %}
{% load static %}



{% block style %}
<style>
   .w-50-m-auto {
      width: 50% !important;
      margin: auto !important;
   }
</style>
{% endblock style %}


{% block content %}

<div class="page-body">
   <form action="" method="post">
      {% csrf_token %}
      <div class="container-fluid">
         <div class="row justify-content-center">
            <div class="col-sm-12 col-md-6">
               <div class="card">
                  <div class="card-header px-4 py-3">
                     <h5>Add Bank Account</h5>
                  </div>
                  <div class="card-body p-4 rs-py-10">
                     <div class="mb-2 row">
                        <label class="col-md-4 col-form-label rs-pb-0">Account Display Name</label>
                        <div class="col-md-8">
                           <div class="input-group">
                              <input class="form-control" type="text" name="name" required minlength="2" maxlength="30">
                           </div>
                        </div>
                     </div>

                     <div class="mb-2 row">
                        <label class="col-md-4 col-form-label rs-pb-0">Opening Balance</label>
                        <div class="col-md-8">
                           <div class="input-group">
                              <input class="form-control" type="text" name="balance" oninput="numbersonly(this)"  required maxlength="10">
                           </div>
                        </div>
                     </div>
                     <div class="mb-2 row">
                        <label class="col-md-4 col-form-label rs-pb-0">As On</label>
                        <div class="col-md-8">
                           <div class="input-group">
                              <input class="form-control" type="date" id="date" name="date" required >
                           </div>
                        </div>
                     
                     <div class="col-sm-9 offset-sm-5 mt-3 ">
                        <input class="btn btn-primary" type="submit">

                     </div>
                  </div>
               </div>
            </div>

         </div>
      </div>
</div>
</div>

</form>
</div>



{% endblock content %}



{% block script %}

<script>
    $(function(){
    var dtToday = new Date();
    
    var month = dtToday.getMonth() + 1;
    
    var day = dtToday.getDate();
    var year = dtToday.getFullYear();
    if(month < 10)
        month = '0' + month.toString();
    if(day < 10)
        day = '0' + day.toString();
    
    var maxDate = year + '-' + month + '-' + day;
    $('#date').attr('max', maxDate);
});
</script>

{% endblock script %}