{% extends 'base.html' %}
{% load static %}
{% block content %}  

<div class="page-body">
<form >
   <!-- Container-fluid starts-->
   <div class="container-fluid ">
        <div class="card p-3 py-2">
            <div class="row ">
                <div class="col-md-6">
                    <h5 class="mb-0 mt-2">PRP Party</h5>
                </div>
                <div class="col-md-6">
                    <a href="{% url 'prp_party_add' %} " class="btn btn-primary rs-text-right">Add Party</a>
                </div>
            </div>
        </div>
        <div class="card rs-mt-10 rs-br-0">
            <div class="card-body p-4 rs-p-0">
                <div class="">
                    <table class="table rs_table">
                        <thead>
                            <tr>
                                <th class="rs-w-5"><span  class="hidden-xs">Sl No.</span></th>
                                <th>name</th>
                                <th >amount</th>
                                <th class="rs-text-right">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for p in party %}
                            
                            <tr>
                                <td class="rs-pr-0">
                                    <span class="badge rounded-pill badge-primary visible-xs">{{ forloop.counter }}</span>
                                    <span class="hidden-xs">{{ forloop.counter }}</span>
                                </td>
                                <td>{{ p.name }}</td>
                                <td>{{ p.opening_balance }}</td>
                                <td class="rs-text-right"><a href="{% url 'prp_party_edit' p.id %}" class="btn btn-primary">edit</a></td>
                            </tr>

                            {% endfor %}
                            
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
   <!-- Container-fluid Ends-->
   </form>
</div>

{% endblock content %}