{% extends 'base.html' %}
{% load static %}
{% block content %}  

<div class="page-body">
<form method="post">
    {% csrf_token %}
   <!-- Container-fluid starts-->
   <div class="container-fluid">
        <div class="card p-3 py-2">
            <div class="row">
                
                <div class="col-md-6">
                    <h5 class="mb-0 mt-2">Leave Approval</h5>
                </div>
                
            </div>
        </div>
        <div class="card rs-mt-10 rs-br-0">
            <div class="card-body p-4 rs-p-0">
                <div class="">
                    <table class="table rs_table">
                        <thead>
                            <tr>
                                <th class="rs-w-5"><span  class="hidden-xs">Sl No.</span></th>
                                <th>Name</th>
                                <th>From date</th>
                                <th>To date</th>
                                <th>category</th>
                                <th>Reason</th>
                                <th>status</th>
                                <th class="rs-text-right">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for leave in leaves %}
                            
                            <tr>
                                <td class="rs-pr-0">
                                    <span class="badge rounded-pill badge-primary visible-xs">{{ forloop.counter }}</span>
                                    <span class="hidden-xs">{{ forloop.counter }}</span>
                                </td>
                                <td>{{ leave.emp.name }}</td>
                                <td>{{ leave.from_date }}</td>
                                <td>{{ leave.to_date }}</td>
                                <td>{{ leave.category }}</td>
                                <td>{{ leave.reason }}</td>
                                <td>{{ leave.status}}</td>
                                
                                <td class="rs-text-right"><a href="{% url 'leave_approval_approve' leave.id %}" class="btn btn-outline-success">Approve</a>
                                    <a href="{% url 'leave_approval_reject' leave.id %}" class="btn btn-outline-danger">Reject</a></td>
                            </tr>

                            {% endfor %}
                            
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
   <!-- Container-fluid Ends-->
   </form>
</div>

{% endblock content %}