{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="page-body">

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="user-profile mt-5">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="mb-0 mt-2">Edit Designation</h5>
                </div>
                
                <!-- user profile first-style start-->
                <div class="col-sm-6 offset-md-3 col-12">
                    <div class="card hovercard text-center mt-3 rs-mt-60">


                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="info mt-5 text-start">
                                <div class="mb-2 row">
                                    <label class="rs-pb-0 col-md-4 col-12 col-form-label">Designation</label>
                                    <div class="col-md-8 col-12">
                                        <input type="text" required name="designation"  minlength="2" maxlength="30" class="form-control" value="{{ designation.name }} ">
                                    </div>
                                </div>
    
    
                                <div class="card-footer text-end pt-2 p-0 mt-2">
                                    <div class="col-sm-9 offset-sm-3">
                                        <button class="btn btn-primary" type="submit" data-bs-original-title=""
                                            title="">Update</button>
    
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->

</div>

{% endblock content %}