{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="page-body">

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="user-profile mt-5">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="mb-0 mt-2">Edit Sale Invoice</h5>
                </div>
                
                <!-- user profile first-style start-->
                <div class="col-sm-6 offset-md-3 col-12">
                    <div class="card hovercard text-center mt-3 rs-mt-60">

                        
                        <form action=""method="post">
                            {% csrf_token %}
                            <div class="info mt-5 text-start">
                                <div class="mb-2 row">
                                    <label class="rs-pb-0 col-md-4 col-12 col-form-label">Date</label>
                                    <div class="col-md-8 col-12">
                                        <input type="date" name="date" id="date"  minlength="2" maxlength="30" class="form-control" value="{{sbo.date}}" required>
                                    </div>
                                </div>
                                <div class="mb-2 row">
                                    <label class="rs-pb-0 col-md-4 col-12 col-form-label">Financial Year</label>
                                      <select id="year" name="year" class="form-select">
                                         {% for i in fan %}  
                                             <option value="{{ i }}">{{ i.year }}</option>
                                         {% endfor %}
                                      </select>
                                </div>
                                <div class="mb-2 row">
                                    <label class="rs-pb-0 col-md-4 col-12 col-form-label">Challan No</label>
                                    <div class="col-md-8 col-12">
                                        <input type="number" name="challan_no" id="challan_no"  minlength="2" maxlength="30" class="form-control" value="{{sbo.challan_no}}" required>
                                    </div>
                                </div>
                                

                                <div class="mb-2 row">
                                    <label class="rs-pb-0 col-md-4 col-12 col-form-label">Party Name</label>
                                    <select id="party_name" name="party_name" class="form-select">
                                       {% for i in party %}  
                                           <option value="{{ i }}">{{ i.name }}</option>
                                       {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <a href="{% url 'edit_add_items1' %} "><b><u>Add Items</b></u></a>
                                </div>
                                <div class="mt-4 row">
<!--                                    <label class="rs-pb-0 col-md-4 col-12 col-form-label">Total</label>-->
                                    <p class="d-flex justify-content-start col product_name" id="name">{{ep.product_name}}</p>
                                    <p class="d-flex justify-content-start col product_name" id="sub_amount"></p>
                                    <p class="d-flex justify-content-end col total_tax" id="final_amount">Final Amount</p>
                                </div>

                                <div class="mb-2 row">
                                    <label class="rs-pb-0 col-md-4 col-12 col-form-label">Subtotal Amount</label>
                                    <div class="col-md-8 col-12">
                                        <input type="number" name="subtotal_amount" id="sub_total"  minlength="2" maxlength="30" class="form-control" value="{{sbo.subtotal_amount}}">
                                    </div>
                                </div>
                                <div class="mb-2 row">
                                    <label class="rs-pb-0 col-md-4 col-12 col-form-label">Final Amount</label>
                                    <div class="col-md-8 col-12">
                                        <input type="number" name="final_amount" id="final_ammount"  minlength="2" maxlength="30" class="form-control" value="{{sbo.final_amount}}">
                                    </div>
                                </div>
                                <div class="mb-2 row">
                                    <label class="rs-pb-0 col-md-4 col-12 col-form-label">Employee Name</label>
                                    <div class="col-md-8 col-12">
                                        <input type="text" name="employee_name" id="employee_name"  minlength="2" maxlength="30" class="form-control" value="{{sbo.employee_name}}" required>
                                    </div>
                                </div>
                                <div class="mb-2 row">
                                    <label class="rs-pb-0 col-md-4 col-12 col-form-label">State of Supply</label>
                                    <div class="col-md-8 col-12">
                                        <select name="state_of_supply" id="">{% for i,j in STATE %}
                                            <option value="{{ i }}" {% if i == STATE %}selected{% endif %}>{{ j }}</option>{% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="mb-2 row">
                                    <label class="rs-pb-0 col-md-4 col-12 col-form-label">Description</label>
                                    <div class="col-md-8 col-12">
                                        <input type="text" name="description"  minlength="2" maxlength="30" class="form-control" value="{{ sbo.description }} ">
                                    </div>
                                </div>

    
    
    
    
    
    
                                <div class="card-footer text-end pt-2 p-0 mt-2">
                                    <div class="col-sm-9 offset-sm-3">
                                        <button class="btn btn-primary" type="submit" data-bs-original-title=""
                                            title="">Update</button>
    
                                    </div>
                                </div>
                            </div>
                        </form aside id>
                        
                    </div>
                
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->

</div>

{% endblock content %}

{% block script %}

<script>
    $(function(){
    var dtToday = new Date();
    
    var month = dtToday.getMonth() + 1;
    
    var day = dtToday.getDate();
    var year = dtToday.getFullYear();
    if(month < 10)
        month = '0' + month.toString();
    if(day < 10)
        day = '0' + day.toString();
    
    var maxDate = year + '-' + month + '-' + day;
    $('#date').attr('max', maxDate);
});

window.localStorage.setItem('path',window.location.href);

</script>
<script>document.getElementById('name').innerText = localStorage.getItem('name');</script>
<script>document.getElementById('final_amount').innerText = localStorage.getItem('key');</script>
<script>document.getElementById('sub_amount').innerText = localStorage.getItem('sub_total');</script>
<script>
    a = parseInt(document.getElementById('sub_total').value);
    b = parseInt(document.getElementById('sub_amount').innerText)||0;
    c = a + b ;
    document.getElementById('sub_total').value = c;
</script>
<script>
    a = parseInt(document.getElementById('final_ammount').value);
    b = parseInt(document.getElementById('final_amount').innerText)||0;
    c = a + b ;
    document.getElementById('final_ammount').value = c;
</script>
<script>

</script>

{% endblock script %}