{% extends 'empbase.html' %}
{% load static %}
{% block content %}

<div class="page-body">
                {% for i in dso %}
	             <div id="delete_sale-invoice-{{forloop.counter}}" class="modal fade">
		            <div class="modal-dialog">
			          <div class="modal-content">
				    <form>
					   <div class="modal-header">						
						 <h4 class="modal-title">Delete Sale Invoice</h4>
						 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					   </div>
					   <div class="modal-body">					
						   <p>Are you sure you want to delete these Records?</p>
						   <p class="text-warning"><small>This action cannot be undone.</small></p>
					   </div>
					   <div class="modal-footer">
						  <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
						  <a href="/delete/{{i.id}}" type="submit" class="btn btn-danger">Delete</a>
					   </div>
				</form>
			</div>
		</div>
	</div>
{% endfor %}

{% endblock content %}