{% extends 'base.html' %}
{% load static %}


 
{% block style %}
<style>
   .w-50-m-auto{width:50%!important;margin:auto!important;}
</style>
{% endblock style %}


{% block content %}

<div class="page-body">
   <form method="post">
    {% csrf_token %}
   <div class="container-fluid">
      <div class="row">
         <div class="col-sm-12 col-md-6">
            <div class="card">
               <div class="card-header px-4 py-3">
                  <h5>Edit Service</h5>
               </div>
               <div class="card-body p-4 rs-py-10">
                  <div class="mb-2 row">
                     <label class="col-md-4 col-form-label rs-pb-0">Service Name</label>
                     <div class="col-md-8">
                        <div class="input-group">
                           <input class="form-control" type="text" name="name" value="{{ service.name }}" required minlength="2" maxlength="30">
                        </div>
                     </div>
                  </div>
                  
                  <div class="mb-2 row">
                     <label class="col-md-4 col-form-label rs-pb-0">HSN/SAC</label>
                     <div class="col-md-8">
                        <div class="input-group">
                           <input class="form-control" type="text" name="hsn" value="{{ service.hsn_code }}" required>
                        </div>
                     </div>
                  </div>
               
                  <div class="mb-2 row">
                     <label class="col-md-4 col-form-label rs-pb-0">Sale Price</label>

                     <div class="col-md-8">
                        <div class="input-group">

                           <input class="form-control" type="number" name="price" value="{{ service.sale_price }}" required>
                        </div>
                     </div>
                  </div>
                  <div class="mb-2 row">
                     <label class="col-md-4 col-form-label rs-pb-0">Tax Type</label>
                     <div class="col-md-8">
                        <div class="input-group">
                        <select name="tax_type" id="tax type">
                            {% for i,j in service.taxTypes %}   
                                <option value="{{ i }}" {% if i == service.sale_price_type %}selected{% endif %}>{{ j }}</option>
                            {% endfor %}
                           
                           
                         </select>
                        </div>
                     </div>
                  </div>
                  <div class="mb-2 row">
                     <label class="col-md-4 col-form-label rs-pb-0">Select Tax Rate</label>
                     <div class="col-md-8">
                        <div class="input-group">
                        <select name="tax_rate" id="select tax rate">
                            
                            {% for i,j in gst %}
                                <option value="{{ i }}"{% if service.tax_rate.id == i %}selected{% endif %}>{{ j }}</option>
                            {% endfor %}
                              
                        </select>      
                        
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="card-footer text-end py-4 rs-py-10">
                        <div class="col-sm-9 offset-sm-3">
                           <button class="btn btn-primary" type="submit" data-bs-original-title="" title="">Update</button>
                           <input class="btn btn-light" type="reset" value="Cancel" data-bs-original-title="" title="">
                        </div>
                     </div>
            </div>
        </div>
      </div>
   </div>
   </form>
</div>



{% endblock content %}